.row-fluid [class*="span"]{
	margin:0px;
	
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.displayPic{
	background: url('http://nikhil-venkat.com/images/mypic.png') no-repeat ;
	cursor: pointer;
    height: 160px;
    width: 170px;
    display:block;
}
.displayPic:hover{
	transform:rotate(-2deg)
}

.navbar{
	position:fixed;
	top:10px;
	.nav{
		li.active{
			a{
				-webkit-transition: background 2s ease-in-out;
				-moz-transition: background 2s ease-in-out;
				-o-transition: background 2s ease-in-out;
				transition: background 2s ease-in-out;
			}
		}
	}
}


.fadeIn{
	opacity:1;
	-webkit-transition: opacity 1s ease-in-out;
	-moz-transition: opacity 1s ease-in-out;
	-o-transition: opacity 1s ease-in-out;
	transition: opacity 1s ease-in-out;
}

.overlay{
	background: url('../images/loading.gif') 50% 50% no-repeat #000;
	height: 100%;
    width: 100%;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
}

.template{
	display:block;
	//min-height:620px;
}