<!doctype html>
<html ng-app="myWebsite">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/app.css" rel="stylesheet" media="screen">
    <title>nikhil-venkat</title>
    <!--link rel="stylesheet" href="stylesheets/styles.css" media="screen"-->
    <!--link rel="stylesheet" href="stylesheets/pygment_trac.css" media="screen"-->
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="stylesheets/ie.css">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
</html>

  <body ng-controller="mainCtrl" loading>
      
      <div class="container">
        <div class="masthead">
          
          <h3 class="muted" ng-cloak>{{myName}}</h3>
          <div class="navbar">
            <div class="navbar-inner">
              <div class="container">
                <ul class="nav">

                  <li ng-class="{active:activeTab=='index'}"><a href="#index" ng-click="setActiveTab('index')">Home</a></li>

                  <li ng-class="{active:activeTab=='about'}"><a ng-click="setActiveTab('about')" href="#/about">About</a></li>
                  
                  <li ng-class="{active:activeTab=='resume'}"><a ng-click="setActiveTab('resume')" href="#/resume">Resume</a></li>

                  <li ng-click="setActiveTab('work')" ng-class="{active:activeTab=='work'}"><a href="#/work">Work</a></li>

                  <li ng-click="setActiveTab('projects')" ng-class="{active:activeTab=='projects'}"><a href="#/projects">Projects</a></li>

                  <li ng-click="setActiveTab('contact')" ng-class="{active:activeTab=='contact'}"><a href="#/contact">Contact</a></li>

                  <li ng-click="setActiveTab('feedback')" ng-class="{active:activeTab=='feedback'}"><a href="#/feedback">Feedback</a></li>

                </ul>
              </div>
            </div>
          </div><!-- /.navbar -->
        </div>

      <!-- Jumbotron -->
      <div class="jumbotron" id="index">
        <h1>I build stuff!</h1>
        <p class="lead">Hello! My name is Nikhil, welcome to my personal webspace. I am a front end engineer living in San Francisco with my beautiful wife.</p>
        <a href="#" class="displayPic"></a>
      </div>

      <hr>

      <div class="row-fluid">
        <ng-include class="template" sng-class="{fadeIn:activeTab == clickedTab}" src="'pages/about.html'"></ng-include>
        <hr>
        <ng-include class="template"  ng-class="{fadeIn:activeTab == clickedTab}" src="'pages/resume.html'"></ng-include>
        <hr>
        <ng-include class="template" ng-class="{fadeIn:activeTab == clickedTab}" src="'pages/work.html'"></ng-include>
        <hr>
        <ng-include class="template" ng-class="{fadeIn:activeTab == clickedTab}" src="'pages/projects.html'"></ng-include>
        <hr>
        <ng-include class="template" ng-class="{fadeIn:activeTab == clickedTab}" src="'pages/contact.html'"></ng-include>
        <hr>
        <ng-include class="template" onload="templateLoaded()" ng-class="{fadeIn:activeTab == clickedTab}" src="'pages/feedback.html'"></ng-include>
      </div>
      <hr>

      <div class="footer">
        <p>Nikhil-Venkat &copy; 2013</p>
      </div>

    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    <script src="scripts/lib/jquery.js"></script>
    <script src="scripts/bootstrap.min.js"></script>  
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script> 
    <!--script src="scripts/respond.js"></script-->

    <!--Modules-->
    <script src="scripts/modules/routesModule.js"></script>

    <!--Controllers-->
    <script src="scripts/controllers/app.js"></script>
    <script src="scripts/controllers/mainCtrl.js"></script>
    <script src="scripts/controllers/aboutCtrl.js"></script>
    <script src="scripts/controllers/resumeCtrl.js"></script>
    <script src="scripts/controllers/workCtrl.js"></script>
    <script src="scripts/controllers/projectsCtrl.js"></script>
    <script src="scripts/controllers/contactCtrl.js"></script>
    <script src="scripts/controllers/feedbackCtrl.js"></script>

    <!--Directives-->
    <script src="scripts/directives/loading.js"></script>
    <!--Library files-->
    <script src="scripts/lib/scrollorama.js"></script>
  </body>
</html>
